<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <header>
        <div id="logo">
            <a href="">
                <img src="" alt="logo">
            </a>
         </div>
    <div id="search">
        <form action="" method="get">
            <input type="text" name="search" id="search" placeholder="Rechercher un film">
            <input type="submit" name="" id="" value="Rechercher">
        </form>

    </div>
    </header>
    {% block content %}{% endblock %} 
    
</body>
</html>


